@import url('https://fonts.cdnfonts.com/css/valorant');

body {
    font-family: 'VALORANT', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0f1923;
    color: white;
    margin: 0;
    text-align: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #ffcc00;
    text-shadow: 0px 0px 10px rgba(255, 204, 0, 0.8);
}

button {
    background: #ffcc00;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(255, 204, 0, 0.8);
}

button:hover {
    background-color: #d4a600;
    box-shadow: 0px 0px 20px rgba(255, 204, 0, 1);
    transform: scale(1.05);
}

#jogoInfo {
    margin-top: 20px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 300px;
    animation: fadeIn 0.5s ease-in-out;
}



.card h2 {
    font-size: 24px;
    color: #ffcc00;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    border-radius: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
